<p style="color: green"><%= notice %></p>

<h1>All our Flats</h1>
<p>All <%= @flats.count %> Flats.</p>

<div id="flats" class="p-5">
  <% @flats.each do |flat| %>

    <%= render flat %>
    <button class="btn btn-primary">
      <%= link_to "Show this flat", flat%>
    </button>
  <% end %>
</div>

<%= link_to "New flat", new_flat_path %>
